.jumbotron
  .container
    .l-upper
      %h1.logo
        bplog
      %p.tagline= '...'
      %span.description
        一冊の
      .link-more= link_to 'もっとくわしく', '#'
    .l-lower
      %p.text-center.login
        = link_to '/auth/twitter', class: "btn btn-primary btn-lg", role: "button" do
          = icon('twitter', 'Twitterでログインする')
.top_info
  .container
    %section.concept
      %h2
        すきなモノの話をしよう
    %section.explain
      ともだちや好きな人のおすすめを記録することができます。
      だれがおすすめしていたかも記録できるので、会ったときにその話をしよう。
      
      
