body {
  background: #708090 none repeat scroll 0% 0%;
}
.container {
  width: 750px;
}
.body {
  min-height: 500px;
  background: #efefef none repeat scroll 0% 0%;
}
header.navbar-default .navbar-nav > li > a {
  color: #fff;
}
header {
  &.navbar {
    background: #708090 none repeat scroll 0% 0%;
    margin-bottom: 0;
  }

  .navbar-brand {
    font-size: 28px;
    height: 50px;
    line-height: 26px;
    color: #fff !important;
    position: relative;
    top: -7px;
  }
  
}
.footer {
  color: #fff;
  background: #708090 none repeat scroll 0% 0%;
  .footer_copyright {
    margin-top: 20px;
    line-height: 1.5;
  }
}
