// 要素の区切りはアンダーライン _ にする
// SMACSS + BEM


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
  background: #efefef none repeat scroll 0% 0%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;

  color: #fff;
  background: #708090 none repeat scroll 0% 0%;
  .footer_copyright {
    margin-top: 20px;
    line-height: 1.5;
  }
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 750px;
  padding: 0 15px;
}

.container .text-muted {
  margin: 20px 0;
}

main {
  &#main {
    padding-top: 51px;
  }
  margin: 0;
}

.jumbotron {
  background: #fff none repeat scroll 0% 0%;
  margin: 0;
  .container {
    max-width: 750px;
  }
}

.navbar-brand-centered {
  padding-top: 10px;
  position: absolute;
  left: 50%;
  display: block;
  width: 160px;
  text-align: center;
  background-color: transparent;
}
.navbar>.container .navbar-brand-centered,
.navbar>.container-fluid .navbar-brand-centered {
  margin-left: -80px;
}
