- if @post.present?
  %p= @post.content
  %p= @post.item
- else
  %p
    bplogへようこそ)ポストムを書いてみましょう
    ポエムは何を書いてもOKです。
    他の人から見えるポエムは最新の1件のみで、次のポエムを書けば人から見えなくなります。
    過去のポエムは自分にしか見えません。

    ポエムを購読しましょう
    好きなポエムを探して「購読する」ボタンを押して購読しましょう。
    購読しているかどうかは、相手にはわかりません。
    「読んだよ」ボタンを押してあしあとをつけることができます。
    あしあとは文章を選択してつけることができ、そこだけあとから読むこともできます。

    ランダムポエムで探す
    画面右下のもランダムポエムです。
    押していくだけで購読しているポエムから順番に色々なポエムが読めます。

    友達のポエムを探してみよう

    メールアドレスを設定しましょう
    メールアドレスの設定をすることでお気に入りのポエムを見逃さないようにしましょう

    送信後に送られる確認用のメールから、メールアドレスの承認を完了してください。
  
