%footer.footer
  .container
    .row
      .col-sm-6
        .footer_copyright
          @tokzk ©2015 All rights reserved.
      .col-sm-6
        %p.text-info.text-right
          %br/
          %br/
        .row
          .col-md-12.hidden-lg.hidden-md.hidden-sm.text-left
            %a{:href => "#"}
              %i.fa.fa-3x.fa-fw.fa-instagram.text-inverse
            %a{:href => "#"}
              %i.fa.fa-3x.fa-fw.fa-twitter.text-inverse
            %a{:href => "#"}
              %i.fa.fa-3x.fa-fw.fa-facebook.text-inverse
            %a{:href => "#"}
              %i.fa.fa-3x.fa-fw.fa-github.text-inverse
        .row
          .col-md-12.hidden-xs.text-right
            %a{:href => "#"}
              %i.fa.fa-3x.fa-fw.fa-instagram.text-inverse
            %a{:href => "#"}
              %i.fa.fa-3x.fa-fw.fa-twitter.text-inverse
            %a{:href => "#"}
              %i.fa.fa-3x.fa-fw.fa-facebook.text-inverse
            %a{:href => "#"}
              %i.fa.fa-3x.fa-fw.fa-github.text-inverse
